@media (min-width: 800px) {
    .title {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .title :nth-child(1)::after {
        content: ":"
    }
}

@media (max-width: 800px) {
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .title * {
        margin: 0;
        padding: 0;
    }

    .title :nth-child(2) {
        font-size: 0.8rem;
    }
}

.nameSubtitle {
    color: #444444;
}

.landingPageLinks {
    display: flex;
    list-style: none;
    gap: 1em;
    justify-content: center;
    padding: 0;
    align-items: baseline;
}

.landingPageLinks li:hover {
    transition-duration: 100ms;
    transition-property: all;
    transform: scale(110%);
}