
.home section p {
    max-width: min(40em, 80%);
}

.home {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.home section {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    outline: red solid 1px;
    scroll-snap-align: start;
    padding: 20px;
}